<div>
    <h2 mat-dialog-title>Dados Cadastrados</h2>
        <mat-dialog-content>
          <p>Nome: {{name}}</p>
          <p>Sobrenome: {{sobrenome}}</p>
          <p>Cadastro de pessoa física: {{cpf}}</p>
          <p>Telefone: {{telefone}}</p>
          <p>Endereço: {{endereco}}</p>
          <p>Complemento: {{complemento}}</p>
          <p>Usuário: {{usuario}}</p>
        </mat-dialog-content>
        <div mat-dialog-actions>
          <button mat-button mat-dialog-close> Ok </button>  
    </div>